*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: #f5efef;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
    

}
.container{
    background-color: white;
    border-radius: 1rem;
    position: relative;
    box-shadow: 0 10px 30px rgba(0,0,0.1);
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
    
}
.screen{
    display: noe;
    padding: 2rem;
    text-align: center;
}
.screen.active{
    display: block;
}
#start-screen h1 {
    color: #e88a33;
    margin-bottom: 20px;
    font-size: 2.5rem;

}
#start-screen p{
    color: black;
    margin-bottom: 30px;
    font-size: 1rem;

}
.quiz-header{
    margin-bottom: 1rem;
}
#question-text{
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4;

}
.quiz-info{
    display: flex;
    justify-content: space-between;
    color: #666;
    margin-bottom: 10px;

}
.answer-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
  
}
.answer-btn{
    background-color: #f8f0e5;
    color:black;
    text-align: left;
    border-radius:10px;
    border: 2px solid #eadbc8;
    cursor: pointer;
    padding: 1rem;
    transition: all 0.3s ease;
}
.answer-btn:hover{
    background-color: #eadbc8;
    border-color: #e88a33;

}
.answer-btn.correct{
    background-color: #e6fff0;
    border-color: #a3f0c4;
    color: rgb(47, 255, 147);

}
.answer-btn.incorrect{
    background-color: #e6fff0;
    border-color: #a3f0c4;
    color: red;
    
}
.progress-bar{
    height: 10px;
    background-color: #f8f0e5;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 20px;
}
.progress{
    height=100px;
    width: 0%;
    background-color: #e88a33;
    transition: width 0.3s ease;


}
#result-screen h1{
    color: #e88a33;
    margin-bottom: 20px;

}
.result-info {
    background-color: #f8f0e5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}
.result-info p{
    margin-bottom: 1rem;
    font-family: sans-serif;
    color:black;
    font-size: 1.2rem;
}
#result-message{
    color: #f48620;
    font-size: 1.6rem;
    font-weight: 600;

}
#button{
    color: black;
    background-color: #e88a33;
    border-color: #e88a33;
    font-size: 1.1rem;
    padding: 7px;
    font-family: sans-serif;
    border-radius: 10px;
    border: none;
    font-weight: 700;
}
#button:hover{
    background-color:rgb(170, 125, 41);
    color: black;
}


